﻿@{
    ViewBag.Title = "Home Page";
}
</br>
<div>
    <h3>Szukaj</h3>
    <input type="text" id="input-number-search" placeholder="numer" />
    <input type="submit" id="button-search" value="Szukaj" class="btn btn-default" />
    </br>
    <input type="text" id="output-number" disabled="disabled" />
    <input type="text" id="output-price" disabled="disabled" />
    <input type="text" id="output-power" disabled="disabled" />
</div>
<div>
    <h3>Dodaj</h3>
    <input type="text" id="input-number" placeholder="numer" />
    <input type="text" id="input-price" placeholder="cena" />
    <input type="text" id="input-power" placeholder="moc" />
    <input type="submit" id="button-add" value="Dodaj" class="btn btn-default" />
</div>